{% extends 'base_admin.html.twig' %}

{% block title %}Gestion des Catégories{% endblock %}

{% block content %}
    <h1>Gestion des Catégories</h1>
    <p>Liste, ajout et suppression des catégories ici.</p>
{% endblock %}
